DATABASE_URL=postgresql://user:password@localhost:5432/db
PORT=
NODE_ENV=

# JWT
JWT_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Naver OAuth
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_CALLBACK_URL=

# Frontend
FRONTEND_URL=
